@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1546699363450'); /* IE9 */
  src: url('iconfont.eot?t=1546699363450#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABqAAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBEIEaATYCJAMMCwgABCAFhG0HNRvXBREVjE2yj8TYsdXBckdUkAxR4k08fL/2eu6+99MNoUqrABWqAKsCknD4I1t2VSQDQncqDMoqYoW2uzUdS72wrAjVJXu+9SzbmR/970rDOo/TKIVEIiQ+z+X0JtDZ0TW+ZTmtaWOP50e9AOOAAhxrUWRFEnkKw6sOcieOE2iyyGoxMbVxp1JmjwvExXNnjikLMVkWi6XQ0LA0i3tqyuJ68Qx3o+/HT2uipFBL7KlbT0+eNPJVfdWpXtUdDAhxAl1dQ8JqZGJ3Y26rJEQuacpli9lXv+Crriq+qsAh9soXxF/nNraA5TRf8FV5CoKveoUCJNBQLCzHGsb2TAvR33LpeJqeuzGjOO4L9dnmY0X5zflIx+7P191xqe3G3PR8c/vN2frM+l8PBmKorbO/s21oVMS3jhme0zY8EK861502xNEnrYYm+D1HQVWlevEfUj0eCwQX9w5/s/aBf2VzBq8vHysWq6oMt5XnMMdI9f/Sgi3Z0Nv2lDWNp7ECST/gKaAqKahih7q8GW/rhTOEsqAfEVhgoY6ktJjM7GrUNFuHBqVhcJuskq5u1o0sRW7ESi+C0OGNQpunSDp8yMz+UNPnjwYdsUST3dG9ZbOlYcQ4YcFYQ/kEU/WddJ0s4uYDqqsrKK+PhAvSZJIQekG5mGKHNMeM6aYiZgmS+hYScho618NAfYMVe5p5iH1fNr3Jq/p2JowjqMBQDZSegFHpdWTQmYnK5w+QcuUUqENUV75AZGJ6ByFPAJCppYNE9/LK5EaJMCYBifRaICGDkOP0wNA8qIEqzKNHZAYx32knUYu3vq39vl3QxN4rRREpsnysrsNV299wNgMA') format('woff2'),
  url('iconfont.woff?t=1546699363450') format('woff'),
  url('iconfont.ttf?t=1546699363450') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1546699363450#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add1:before {
  content: "\e767";
}

.icon-move:before {
  content: "\e768";
}

