body,html{
	margin: 0px;
	padding: 0px;
}

.row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.row_center{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.row_between{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.row_around{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}


.col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col_around{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.col_between{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header{
	font-size: 18px;
	color: #333333;
	background-color: #FFFFFF;
}

header img{
	width: 16px;
	height: 16px;
	margin-top: 14px;
}

header h1{
	font-weight: bold;
}


